<!-- Table -->
{% if citations|length > 0 %}
<table id="citations-table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            {% for field in default_headers %}
                <th data-field="{{ field }}">{{ field.capitalize() }}</th>
            {% endfor %}
            {% for field in all_fields if field not in default_headers %}
                <th data-field="{{ field }}" style="display: none;">{{ field.capitalize() }}</th>
            {% endfor %}
            <th class="text-end" id="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for citation in citations %}
        <tr class="citation-row" data-id="{{ citation.id }}">
            <td>{{ loop.index }}</td>
            {% for field in default_headers %}
                {% if field == "type" %}
                    <td>{{ citation.citation_type }}</td>
                {% else %}
                    <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ citation.fields.get(field, 'N/A') }}">
                        {{ citation.fields.get(field, 'N/A')|truncate(50) }}
                    </td>
                {% endif %}
            {% endfor %}
            {% for field in all_fields if field not in default_headers %}
                <td style="display: none;">{{ citation.fields.get(field, 'N/A') }}</td>
            {% endfor %}
            <td class="text-end">
                {% with citation=citation, loop_index=loop.index0 %}
                    {% include "citation_modal.html" %}
                    <div class="text-end d-flex d-flex justify-content-end gap-1">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#citation_modal{{ loop_index }}" id="test_button" name="test_button">View Details</button>
                        <input type="button" 
                        class="btn btn-primary btn-sm" 
                        data-bs-toggle="modal" 
                        data-bs-target="#edit_citation_modal" 
                        name="edit" 
                        onclick='formFieldData(`{{ citation.fields | tojson }}`, `{{ citation.citation_type }}`, `{{ citation.id }}`, `{{ citation.citation_key }}`)' 
                        value="Edit">
                        <button class="btn btn-dark btn-sm" title="Copy citation to clipboard" onclick="copyToClipboard('\\cite&#123;{{ citation.citation_key }}&#125;')">LaTeX</button>
                    </div>
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row align-items-center mt-3">
    <div class="col-md-6 col-12">
        <!-- Pagination options -->
        <label for="results-per-page" class="form-label me-2">Show:</label>
        <select id="results-per-page" class="form-select d-inline-block w-auto" onchange="updateResultsPerPage()">
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="all">All</option>
        </select>
    </div>
</div>
{% endif %}