<!-- Table -->
{% if citations|length > 0 %}
<table id="citations-table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            {% for field in default_headers %}
                <th data-field="{{ field }}">{{ field.capitalize() }}</th>
            {% endfor %}
            {% for field in all_fields if field not in default_headers %}
                <th data-field="{{ field }}" style="display: none;">{{ field.capitalize() }}</th>
            {% endfor %}
            <th class="text-end" id="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for citation in citations %}
        <tr class="citation-row" data-id="{{ citation.id }}">
            <td>{{ loop.index }}</td>
            {% for field in default_headers %}
                {% if field == "type" %}
                    <td>{{ citation.citation_type }}</td>
                {% else %}
                    <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ citation.fields.get(field, 'N/A') }}">
                        {{ citation.fields.get(field, 'N/A')|truncate(50) }}
                    </td>
                {% endif %}
            {% endfor %}
            {% for field in all_fields if field not in default_headers %}
                <td style="display: none;">{{ citation.fields.get(field, 'N/A') }}</td>
            {% endfor %}
            <td class="text-end">
                {% with citation=citation, loop_index=loop.index0 %}
                    {% include "citation_modal.html" %}
                    <div class="text-end d-flex d-flex justify-content-end gap-1">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#citation_modal{{ loop_index }}" id="show_citation_button_{{ loop_index }}" name="show_citation_button">View Details</button>
                        <input type="button" 
                        class="btn btn-primary btn-sm" 
                        data-bs-toggle="modal" 
                        data-bs-target="#edit_citation_modal" 
                        name="edit" 
                        data-citation='{{ citation.fields | tojson | safe }}'
                        onclick='formFieldData(this.dataset.citation, `{{ citation.citation_type }}`, `{{ citation.id }}`, `{{ citation.citation_key }}`)' 
                        value="Edit">
                        <button class="btn btn-dark btn-sm" title="Copy citation to clipboard" onclick="copyToClipboard('\\cite&#123;{{ citation.citation_key }}&#125;')">LaTeX</button>
                    </div>
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}