<!-- Dropdown ja Search gridi -->
<div class="row align-items-center mb-3">
    <!-- Dropdown for selecting fields -->
    <div class="col-md-6 col-12 mb-2 mb-md-0">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Select Fields
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- "Select All" Checkbox -->
                <li><label class="dropdown-item"><input type="checkbox" id="select-all" checked> All</label></li>
                <!-- Single Checkboxes -->
                <li><label class="dropdown-item"><input type="checkbox" class="header-checkbox" data-column="0" checked> #</label></li>
                <li><label class="dropdown-item"><input type="checkbox" class="header-checkbox" data-column="1" checked> Author</label></li>
                <li><label class="dropdown-item"><input type="checkbox" class="header-checkbox" data-column="2" checked> Title</label></li>
                <li><label class="dropdown-item"><input type="checkbox" class="header-checkbox" data-column="3" checked> Year</label></li>
                <li><label class="dropdown-item"><input type="checkbox" class="header-checkbox" data-column="4" checked> Type</label></li>
                <!--<li><label class="dropdown-item"><input type="checkbox" class="header-checkbox" data-column="5" checked> Actions</label></li>-->
            </ul>
        </div>
    </div>
</div>