<!-- Dropdown ja Search gridi -->
<div class="row align-items-center mb-3">
    <!-- Dropdown for selecting fields -->
    <div class="col-md-6 col-12 mb-2 mb-md-0">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Select Fields
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <!-- "Select All" Checkbox -->
                <li><label class="dropdown-item"><input type="checkbox" id="select-all" checked> All</label></li>
                <!-- Single Checkboxes -->
                {% for field in default_headers %}
                    <li><label class="dropdown-item"><input type="checkbox" class="header-checkbox" data-column="{{ loop.index0 + 1 }}" checked> {{ field.capitalize() }}</label></li>
                {% endfor %}
                {% for field in all_fields if field not in default_headers %}
                    <li><label class="dropdown-item"><input type="checkbox" class="header-checkbox" data-column="{{ loop.index0 + 1 + default_headers|length }}"> {{ field.capitalize() }}</label></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>