{% extends "layout.html" %}

{% block title %}
Citation Details
{% endblock %}

{% block body %}
<h2 class="mb-4">Citation Details</h2>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="card">
    <div class="card-header">
        <h5><strong>{{ citation.citation_key }}</strong> ({{ citation.citation_type }})</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <input type="hidden" 
            name="citation_type" 
            value="{{ citation.citation_type }}" 
            id="citation_type"
            {% for field, value in citation.fields.items() %}
            data-{{ field }}="{{ value }}"
            {% endfor %}>

            {% for field, value in citation.fields.items() %}
                <dt class="col-sm-3">{{ field }}</dt>
                <dd class="col-sm-9">{{ value }}</dd>
            {% endfor %}

        </dl>
    </div>
    <div class="card-footer text-end">
        <a href="/" class="btn btn-secondary">Back</a>
        <input type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_citation_modal" name="edit" 
               onclick='formFieldData(`{{ citation.fields | tojson }}`, `{{ citation.citation_type }}`, `{{ citation_id }}`)' value="Edit">
        <form action="/delete_citation/{{ citation.id }}" method="POST" style="display:inline-block;">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this citation?');">Delete</button>
        </form>
    </div>
</div>
{% endblock %}

{% include "edit_citation.html" %}