<div class="modal fade" id="edit_citation_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-start">
      <div class="modal-body">
        <div class="card-header">
          <h5 id="edit-citation-card-header"></h5>
        </div>
        
        <div class="card-body">
          <form action="/update_citation" method="post">
            <input type="hidden" name="citation_id" id="citation_id-edit" value="">
            <input type="hidden" name="citation_type" id="citation_type-edit" value="">

            <div id="field-cotainer-edit">
              <div id="mandatory-fields-edit"></div>
              <div id="optional-fields-edit"></div>
            </div>
          
            <div class="mt-3">
              <label for="add-field-edit">Add a field:</label>
              <div class="input-group">
                <input type="text" class="form-control" name="add-field-edit" id="add-field-edit" placeholder="Field name" list="add-field-dl-edit">
                <datalist id="add-field-dl-edit"></datalist>
                <button type="button" class="btn btn-secondary" name="add-field-edit-btn"  onclick="addNewField()">Add</button>
              </div>
              <div id="add-field-error-edit"></div>
            </div>
          
            <input type="hidden" id="get-fields-edit" name="get-fields-edit" value="">
            <button type="submit" class="btn btn-primary mt-3" name="update">Update</button>
            <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal" aria-label="Close" name="exit-edit">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
