<div class="modal fade" id="edit_citation_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-start">
      <div class="modal-body">
        <div class="card-header">
          <h5 id="edit-citation-card-header"></h5>
        </div>
        
        <div class="card-body">
          <form action="/update_citation" method="post">
            <input type="hidden" name="citation_id" id="citation_id-edit" value="">
            <input type="hidden" name="citation_type" id="citation_type-edit" value="">

            <div id="field-cotainer-edit">
              <div id="mandatory-fields-edit"></div>
              <div id="optional-fields-edit"></div>
            </div>
          
            <div>
              Add a field <br>
              <label for="add-field-edit">The name of the field:</label>
              <input type="text" name="add-field-edit" id="add-field-edit">
              <input type="button" value="Add" name="add-field-edit-btn" onclick="addNewField()">
            </div>
          
            <input type="hidden" id="get-fields-edit" name="get-fields-edit" value="">
            <button type="submit" class="btn btn-primary" name="update">Update</button>
            <input type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" name="exit-edit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
