{% extends "layout.html" %}

{% block title %}
Citation App
{% endblock %}

{% block body %}
<h2 class="mb-4">Recent citations</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

<!-- Hakukenttä tablelle-->
<input type="text" id="search-input" class="form-control mb-3" placeholder="Search citations..." onkeyup="filterTable()">

<!-- Table -->
{% if citations|length > 0 %}
<table id="citations-table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Author</th>
            <th>Title</th>
            <th>Year</th>
            <th>Type</th>
            <th class="text-end" id="actions">Actions</th> <!-- Align right -->
        </tr>
    </thead>
    <tbody>
        {% for citation in citations %}
        <tr class="citation-row" data-id="{{ citation.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ citation.fields.get('author', 'N/A') }}</td>
            <td>{{ citation.fields.get('title', 'N/A') }}</td>
            <td>{{ citation.fields.get('year', 'N/A') }}</td>
            <td>{{ citation.citation_type }}</td>
            <td class="text-end">
                <!-- Edit Button -->
                <a href="/citation/{{ citation.id }}" class="btn btn-primary btn-sm">Edit</a>
                <!-- Quick LaTeX copy-->
                <button class="btn btn-dark btn-sm"
                title="Copy citation to clipboard"
                onclick="copyToClipboard('\\cite&#123;{{ citation.citation_key }}&#125;')">LaTeX</button>
                
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <p class="alert alert-warning">You haven't added any citations yet.</p>
{% endif %}

<a href="/new_citation" class="btn btn-primary">Create new citation</a>

{% endblock %}

