<div class="modal fade" id="new_citation_modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create new citation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/create_citation" method="post">
          <select class="form-select" aria-label="Select citation type" name="citation-type" id="citation-type" onchange="updateFormAfterTypeChange(this)">
            <option value="article" name="article" selected>article</option>
            {% for option in types %}
              <option value="{{ option }}" name="{{ option }}">{{ option }}</option>
            {% endfor %}
          </select>

          <div id="field-container-new">
            <div id="mandatory-fields-new"></div>
            <div id="optional-fields-new"></div>
          </div>

          <div class="mt-3">
            <label for="add-field-new">Add a field:</label>
            <div class="input-group">
              <input type="text" class="form-control" name="add-field-new" id="add-field-new" placeholder="Field name">
              <button type="button" class="btn btn-secondary" name="add-field-new-btn" onclick="addNewField()">Add</button>
            </div>
          </div>

          <input type="hidden" id="get-fields-new" name="get-fields-new" value="">

          <button type="submit" class="btn btn-primary mt-3" name="create">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
