{% extends "layout.html" %}

{% block title %}
Create a new citation
{% endblock %}

{% block body %}

<h2>Create a new citation</h2>

<form action="/create_citation" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <select class="form-select" aria-label="Select citation type">
    <option value="article" name="citation_type" selected>article</option>
    {% for option in types %}
      <option value="{{ option }}" name="citation_type">{{ option }}</option>
    {% endfor %}
  </select>

  <br>
  <label for="author/s">Author / authors:</label>
  <input type="text" name="author/s">
  <p></p>
  <label for="content">Content:</label>
  <input type="text" name="content">
  <br>
  <p></p>
  <button type="submit">
    Create
  </button>
</form>

{% endblock %}